@model IEnumerable<ConsumeWebApi.Models.Solicitud_Requerimientos>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion de Solicitud de Requerimientos</h2>

<p>
    @Html.ActionLink("Nueva Solicitud de Requerimientos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo_Requerimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adjuntos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Primer_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receptor_Solicitudes.Primer_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico_Soporte.Primer_Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo_Requerimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adjuntos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Primer_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receptor_Solicitudes.Primer_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico_Soporte.Primer_Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Codigo_Requerimientos }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Codigo_Requerimientos }) |
            @Html.ActionLink("Deshabilitar", "Delete", new { id=item.Codigo_Requerimientos })
        </td>
    </tr>
}

</table>
